#hey{
    font-size: 5rem;
    font-family: 'Gloria Hallelujah', cursive;
    padding-bottom: 2rem;
}
.create{
    max-width: 50%;
    float: left;
    padding-left: 5rem;
    padding-top: 2rem;
}

label{
    font-size: 2rem;
    font-family: 'Great Vibes', cursive;
}