{% extends 'posts/layout.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}

<div class="container bg-light detail">
        <h5>{{ post.subject}}</h5><br>
        {{ post.date }}<br>
        By:{{ post.name }}<br>
        Email:{{ post.email }}<br>
        {{ post.content }}<br>
        <span class="delete"><a class="btn btn-primary" role="button" href="{% url 'delete' p=post.id %}">Delete Post</a></span>
</div>

{% endblock %}